<% provide(:title, @term.name) %>
<% for definition in @term.definitions %>
<!-- Facebook / Open Graph -->
<% meta_name :'og:title', @term.name %>
<% meta_name :'og:description', definition.meaning %>
<!-- Twitter -->
<% meta_name :'twitter:title', @term.name %>
<% meta_name :'twitter:description', definition.meaning %>
<% end %>

<h1 class="red-text text-xs-center"><%= @term.name %></h1>
<div class="col-xl-4 col-xl-offset-4">
  <ol>
    <% for definition in @term.definitions %>
      <li class="lead"><span><%= definition.meaning %></span></li>

      <% unless definition.user_id == current_user || !signed_in? %>
        <span id="voting-<%= definition.id %>">
          <% if current_user.voted_for?(definition) %>
            <%=
              link_to ("<span class='icon-vote voted'></span>").html_safe,
              unvote_term_definition_path(definition.term, definition),
              method: :post,
              remote: true,
              id: "up-#{definition.id}"
            %>
          <% else %>
            <%=
              link_to ("<span class='icon-vote unvoted'></span>").html_safe,
              vote_up_term_definition_path(definition.term, definition),
              method: :post,
              remote: true,
              id: "up-#{definition.id}"
            %>
          <% end %>
        </span>
      <% end %>

      <span id="score-<%= definition.id %>"><%= definition.score %></span>
      <br><br>
    <% end %>
  </ol>

  <h5 class="text-xs-center">
    <%= link_to "Add a New Definition", new_term_definition_path(@term) %>
  </h5>
</div>
