<% provide(:title, @term.name) %>
<h1 class="red-text text-xs-center"><%= @term.name %></h1>
<div class="col-xl-4 col-xl-offset-4">
<ol>
  <% for definition in @term.definitions %>
    <li class="lead"><p><%= definition.meaning %></p></li>

    <%
      unless definition.user_id == current_user ||
      !signed_in? ||
      current_user.voted_on?(definition)
    %>
      <span id="voting-<%= definition.id %>">
        <%= link_to "Up", vote_up_term_definition_path(definition.term, definition), method: :post, remote: true %>
        /
        <%= link_to "Down", vote_down_term_definition_path(definition.term, definition), method: :post, remote: true %>
      </span>
    <% end %>

    <span id="score-<%= definition.id %>">Score: <%= definition.plusminus %></span>

  <% end %>
</ol>

<h5 class="text-xs-center"><%= link_to "Add a New Definition", new_term_definition_path(@term) %></h5>
</div>
