<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
  <h3 class="red-text"><%= t(".title") %></h3>

  <p class="lead"><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path do |form| %>
    <fieldset class="form-group">
      <%= form.label :email, class: "lead" %>
      <%= form.text_field :email, type: 'email', class: "form-control" %>
    </fieldset>
    <%= form.submit "Submit", class: "btn btn-red" %>
  <% end %>
</div>
