<div class="navbar-collapse collapse bg-navy" id="navbar-header">
  <ul class="nav nav-pills">
    <div class="col-xs-12 col-md-6">
    <% if signed_in? %>
      <% if current_user.admin? %>
      <li class="nav-item"><%= link_to "Admin", admin_root_path, class: "nav-link white-text" %></li>
      <% end %>
      <li class="nav-item"><%= link_to current_user.username, profile_path,  class: "nav-link white-text" %></li>
      <li class="nav-item"><%= link_to "Sign out", sign_out_path, method: :delete, class: "nav-link white-text" %></li>
    <% else %>
      <li class="nav-item"><%= link_to "Sign in", sign_in_path, class: "nav-link white-text" %></li>
    <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <li class="nav-item pull-md-right"><%= link_to "Privacy Policy", page_path(:privacy_policy), class: "nav-link white-text"%></li>
      <li class="nav-item pull-md-right"><%= link_to "Contact", page_path(:contact), class: "nav-link white-text" %></li>
      <li class="nav-item pull-md-right"><%= link_to "About", page_path(:about), class: "nav-link white-text" %></li>
    </div>
  </ul>
</div>
<div class="navbar navbar-full navbar-static-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">&#9776;</button>
  <%= link_to "Dictio", root_path, class: "navbar-brand brand-font" %>
</div>
