<nav class="navbar navbar-light bg-blue">
  <%= link_to "Dictio", root_path, class: "navbar-brand brand-font" %>
  <ul class="nav navbar-nav">
    <% if signed_in? %>
      <li class="nav-item pull-xs-right"></li>
      <li class="nav-item pull-xs-right">
        <%= link_to "Sign out", sign_out_path, method: :delete, class: "nav-link" %>
      </li>
      <li class="nav-item pull-xs-right">
        <%= content_tag(:span, current_user.email, class: "nav-link") %>
      </li>
      <% if current_user.admin? %>
        <li class="nav-item pull-xs-right">
          <%= link_to "Admin", admin_root_path, class: "nav-link" %>
        </li>
      <% end %>
    <% else %>
      <li class="nav-item pull-xs-right"></li>
      <li class="nav-item pull-xs-right">
        <%= link_to "Sign in", sign_in_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
  <form class="form pull-md-right">
    <%= search_field_tag("search", nil, class: "form-control", placeholder: "Search") %>
  </form>
</nav>
