<!DOCTYPE html>
<!-- May the Source be with you! --> 
<html>
<head>
  <title>Dictio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="clearfix sm-col-9 mx-auto">
    <%= render 'layouts/nav' %>
    <div class="pt4">
      <%= yield %>
    </div>
  </div>
</body>
</html>
